<h2 class="text-center py-5">Edit this article</h2>
<%= render 'form'%>
<div class="container text-center my-5">
   <%= link_to "Cancel to return all articles:", articles_path, class: "btn btn-dark my-3" %>
</div>