<h2 class="text-center py-5">Edit this category</h2>
<%= render 'form'%>
<div class="container text-center my-5">
   <%= link_to "Cancel to return category:", category_path(@category), class: "btn btn-dark my-3" %>
</div>