<h2 class="text-center py-5">Create a new category</h2>

<=% render 'form' =>

<div class="container text-center my-5">
   <%= link_to "Cancel to return all categories:", categories, class: "btn btn-dark my-3" %>
</div>